html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

span.low_confidence {
  background-color: yellow;
}
span.very_low_confidence {
  background-color: orange;
}

.container {
    width:100%;
}

.column {
    width:33.33333333%;
    float:left;
}

p.ocr_par {
    margin: 2 px;
}

.footer {
  clear: both;
}
